.disable-hover {
    pointer-events: none;
}

.link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: inline;
    color: #000 !important;
    width: 165px;
}

a {
	color: #000000;
	border: 0px;
}

.blue {
	color: #2b7cb3 !important;
}

.bold {
	font-weight: bold;
}

.light {
	color: #696969 !important;
}

.link-item:hover {
    background-color: #111;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #000;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #000;
}

.fa {
    font-size: 125px;
    margin-left: 5px;
    margin-right: 10px;
}

.packageHeader {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	color: #ffffff;
}

.page-header {
	margin-bottom: 0px !important;
	margin-top: 25px;
}

.panel-default {
	border-color: #c2b8ff !important;
	box-shadow: 0 0 12px 0px #2b7cb3 !important;
}

.panel-heading {
	border-color: #c2b8ff !important;
	background-color: #303030 ! important;
}

.subtitle {
	font-size: 16px !important;
	text-align:center;
}

.jumbotron {
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	border-radius: 0px !important;
	height: 246px;
	width: 100vw;
	background-color: #303030;
}

#headerImage{
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-radius: 10px !important;
}


.thumbnail {
	border-radius: 10px !important;
	overflow: hidden !important;
	padding: 0px !important;
	border: 0px !important;
	height: 200px !important;
	box-shadow: 0 3px 9px #00000066 !important;
}

.alert {
	margin-top: 15px !important;
}

#packageName {
	margin-top: 0px !important;
	color: #ffffff;
}